.ChooseYourUtl {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .UtlOption {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin: 10px 20px;
        padding: 28px;
        box-shadow: 0px 3px 4px 4px #00000024;
        cursor: pointer;
        &:nth-child(1) {
            background: linear-gradient(
                rgba(120, 182, 245, 1) 0%,
                rgba(63, 1, 227, 0.75) 100%
            );
        }
        &:nth-child(2) {
            background: linear-gradient(#d1d9d7 0%, #0cc203 100%);
        }
        &:nth-child(3) {
            background: linear-gradient(
                0deg,
                rgba(237, 52, 52, 1) 0%,
                rgba(255, 144, 126, 1) 100%
            );
        }
        &:nth-child(4) {
            background: linear-gradient(
                rgba(255, 143, 0, 1) 0%,
                rgba(255, 229, 126, 1) 100%
            );
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
