@import '../styles/shadows';
@import '../styles/mixins';


@mixin formWrapper {
    @include floatingFrame;
    border-radius: 16px;
    padding: 24px;
}

.LB-CompetitionTitle {
    @include flexRow;
    > h2 {
        margin: 0;
    }
    .competitionIcon {
        background-image:url('/img/world_cup_2022.png');
        width: 60px;
        height: 50px;
        background-size: 60px;
    }
}

.LB-CreateNewTournament {
    max-width: 400px;
    margin: auto;
    > h1 {
        text-align: center;
    }
    .LB-CreateNewTournament-content{
        @include formWrapper;
        .LB-CreateNewTournament-title {
            margin: 0;
        }
        .MuiFormGroup-root{
            @include floatingFrame;
            border-radius: 16px;
            padding: 8px;
            margin-top: 8px;
            .MuiFormControlLabel-root{
                border-radius: 16px;
                padding-left: 12px;
                position: relative;
                width: fit-content;
                margin-right: 0;
                margin-bottom: 0;
                &:hover {
                    background: rgb(139 216 255 / 23%);
                }
            }
        }
        .nameInputContainer {
            margin-top: 24px;
            .nameInput {
                margin-top: 8px;
            }
        }
    }
    .LB-UserJoinOwnedTournament {
        @include formWrapper;
        > h2 {
            margin: 0;
        }
        > h3 {
            margin: 0;
            margin-bottom: 16px;
            margin-top: 24px;
        }
    }
    .buttonContainer {
        @include centerContainer;
        margin-top: 32px;
    }
}

.LB-JoinTournament {
    max-width: 400px;
    margin: auto;
    > h1 {
        text-align: center;
    }
    .joinTournamentForm {
        @include formWrapper;
        .tournamentName {
            @include flexRow;
            font-size: 28px;
            .tournamentIcon{
                margin-left: 8px;
            }
        }
        .MuiTextField-root {
            margin-top: 16px;
        }
        .buttonContainer {
            @include centerContainer;
            margin-top: 32px;
        }
    }
}

.LB-DefaultNoUtlView {
    padding: 16px;
    flex-direction: column;
    @include centerContainer;
    .buttonsContainer{
        .MuiButton-root {
            margin-top: 36px;
            display: block;
        }
    }
}