.LB-AppFooter {
    margin-top: auto;
    .AppFooter-background {
        background: linear-gradient(rgba(255, 255, 255, 0), #000000b8);
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }
    .AppFooter-image {
        max-width: 100%;
        width: 900px;
    }
}