.LB-AppFooter {
    margin-top: auto;
    .AppFooter-background {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7215686275) 85%, rgba(255, 255, 255, 0) 100%);
    }
    .AppFooter-image {
        max-width: 100%;
        width: 600px;
    }
}