@use '../../styles/mixins.scss';

$default_button_padding: 16px;
$loader_margin: 8px;
$loader_container_width: 28px;

.LigaBet-LoadingButton {
    &:not(.loading) {
        $side_padding: ($loader_container_width + $default_button_padding*2 + $loader_margin) / 2;
        padding-left: $side_padding;
        padding-right: $side_padding;
    }
    .loader_container {
        position: relative;
        width: $loader_container_width;
        margin-right: $loader_margin;
        @include mixins.centerContainer;
        .loader {
        }
    }
}