.prize_rank_bg {
    &.prize_rank_1 {
        background-color: #1c7430;
    }
    &.prize_rank_2 {
        background-color: #1f3e1a;
    }
    &.prize_rank_3 {
        background-color: #495057;
    }
    &.prize_rank_4 {
        background-color: #847881;
    }
    &.prize_rank_5 {
        background-color: #81868d;
    }
    &.prize_rank_6 {
        background-color: #8d8b89;
    }
}
