@use '../colors';

@function simple_gradient($light, $main) {
	@return linear-gradient(
		45deg,
		$light 0%,
		$main 100%
	);
}

$tournament_1: (
	light: colors.$primary-light,
	main: colors.$primary-main,
	dark: colors.$primary-dark,
	gradient: simple_gradient(colors.$primary-light, colors.$primary-main),
);

$tournament_2: (
	light: colors.$success-light,
	main: colors.$success-main,
	dark: colors.$success-dark,
	gradient: simple_gradient(colors.$success-light, colors.$success-main),
);

$tournament_3: (
	light: colors.$warning-light,
	main: colors.$warning-main,
	dark: colors.$warning-dark,
	gradient: simple_gradient(colors.$warning-light, colors.$warning-main),
);
	
$tournament_4: (
	light: colors.$purple-light,
	main: colors.$purple-main,
	dark: colors.$purple-dark,
	gradient: simple_gradient(colors.$purple-light, colors.$purple-main),
);

$tournament_5: (
	light: colors.$error-light,
	main: colors.$error-main,
	dark: colors.$error-dark,
	gradient: simple_gradient(colors.$error-light, colors.$error-main),
);