@import '../../styles/mixins';


.LB-MatchResult {
    max-width: 150px;
    border-radius: 12px;
    overflow: hidden;
    .MatchResult-title {
        text-align: center;
        font-weight: 700;
        border: 2px solid #ddd;
        border-radius: 12px 12px 0px 0px;
    }
    .MatchResult-content {
        display: flex;
        justify-content: space-between;
        background: #eeeeee;
        padding: 4px;
        .MatchResult-delimiter {
            :first-child {
                @include centerContainer;
                height: 32px;
                margin: 0px 4px
            }
            .MatchResult-row {
                font-size: 12px;
            }
        }
        .MatchResult-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            .MatchResult-row {
                font-size: 18px;
            }
        }
        .MatchResult-row {
            margin-top: 6px;
            line-height: 18px;
            text-align: center;
        }
    }
}