@import '../../styles/shadows';

.LigaBet-TakanonPreviewSection {
    .takanonDemo {
        box-shadow: $basic-shadow;
        border-radius: 16px;
        padding: 16px;
        padding-top: 1px;
    }
}

.LigaBet-TakanonPreviewModal {
    margin-top: 20px;
    .openTakanonDemoLink {
        font-size: 16px;
        cursor: pointer;
    }
}