.LB-GumblersTable {
    padding: 8px 0px;
    .MuiTableContainer-root {
        background: transparent;
        box-shadow: none;
        border-radius: 0px;
    }
    .MuiTableCell-root {
        padding: 8px;
        &.tableHeaderCell{
            font-weight: 700;
        }
        .LB-MatchResult {
            .MatchResult-content {
                background-color: rgba(0,0,0,0.1);
                padding: 8px;
            }
        }
        &.scoreCell {
            font-size: 22px;
        }
        &.gumblersCell {
            white-space: pre;
            line-height: 1.25;
            font-size: 16px;
            .gumblersContainer {
                text-align: right;
            }
        }
    }
}