@import './shadows';


@mixin centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexRow {
    display: flex;
    align-items: center;
}

@mixin fullView {
    height: 100%;
    width: 100%;
}

@mixin floatingFrame {
    box-shadow: $basic-shadow;
    background-color: rgba(255,255,255, 0.95);
}

@mixin headerText {
    text-shadow: -3px 2px 8px black;
    color: white;
}