@use '../../styles/mixins';
@use '../../styles/shadows';

.LB-PlayerWithImg {
    @include mixins.flexRow;
    .PlayerWithImg-name {
        margin-right: 6px;
        margin-top: 2px;
        &.nameBig {
            margin-right: 8px;
            font-size: 20px;
        }
    }
}

.LB-PlayerImg {
    box-shadow: shadows.$medium-shadow;
    border-radius: 100%;
    .playerImage {
        width: 100%;
    }
}