.LB-InvitaionForTourAdmin {
    margin-top: 2px;
    .MuiInputBase-input {
        text-align: left;
        direction: ltr;
    }
    .sendButton {
        margin-top: 16px;
    }
    .goBackButton {
        margin: auto;
        margin-top: 40px;
    }
}

.LB-AdminTools {
    .MuiLink-root {
        margin-bottom: 14px;
        display: block;
    }
}

.LB-AdminViewContainer {
    .MuiTableCell-root {
        &.editButtonCell {
            padding-right: 0px;
            .LB-LoadingVIcon {
                width: unset;
                height: unset;
                margin-bottom: 10px;
                .MuiButtonBase-root {
                    padding: 0px;
                }
            }
        }
    }
    .LB-GoalDataInput {
        .MuiInputBase-input {
            padding: 8px;
            width: 12px;
        }
    }
}