.LB-InvitaionForTourAdmin {
    margin-top: 2px;
    .MuiInputBase-input {
        text-align: left;
        direction: ltr;
    }
    .sendButton {
        margin-top: 16px;
    }
    .goBackButton {
        margin: auto;
        margin-top: 40px;
    }
}

.LB-AdminTools {
    .MuiLink-root {
        margin-bottom: 10px;
        display: block;
    }
}