@import '../../styles/mixins';
@import '../../styles/shadows';

.TeamWithFlag {
    @include flexRow;
    .TeamWithFlag-name {
        margin-right: 6px;
        margin-top: 2px;
        &.teamNameBig {
            margin-right: 8px;
            font-size: 20px;
        }
    }
    &.LB-TeamWithFlagVertical {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        .TeamWithFlag-name {
            margin: 0px;
            margin-top: 8px;
            font-size: 20px;
            text-align: center;
        }
    }
}

.LB-TeamFlag {
    display: inline;
    box-shadow: $medium-shadow;
    border-radius: 100%;
}