.LigaBet-UTLPage {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    .title {
        text-align: center;
        margin-bottom: 30px;;
    }
    .UserDetailsCard {
        max-width: 500px;
        border: 2px solid #d2d2d2;
        border-radius: 16px;
        padding: 25px;
        position: relative;
        .nameValue {
            min-width: 212px;
        }
        .property {
            font-weight: 700;
        }
        .editButton {
            position: absolute;
            left: 6px;
            top: 6px;
        }
        .confirmButton {
            position: absolute;
            right: 6px;
            top: 6px;
        }
        .nameInput {
            width: 180px;
        }
    }
}