.LigaBet-LinkMenuItem {
  &.MuiMenuItem-root {
    min-height: 0;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    justify-content: flex-start;
    .MuiBadge-root {
      .MuiBadge-badge {
        @media (min-width: 900px){
          transform: translateY(-50%) translateX(-50%);
          z-index: -1;
        }
        @media (max-width: 900px){
          top: 10px;
          left: -20px;
        }
      }
    }
  }
}