@import '../styles/colors';

.LigaBet-AppHeader {
  position: fixed;
  top: 0;
  z-index: 20;

  .appbarHeader {
    background: $primary-light-main-gradient;
    $minMenuHeight: 50px;
    
    .LigaBet-AppMenuDesktop {
      min-height: $minMenuHeight;
      justify-content: space-between;
      display: flex;
    }
    
    .LigaBet-AppMenuMobile {
      .expandSection {
        min-height: $minMenuHeight;
        display: flex;
        overflow: hidden;
        padding: 0 3%;
        transition: max-height 500ms ease;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
        .LigaBet-LinkMenuItem {
          width: 100%;
        }

      }
      .mobileMenuHeader {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: unset;

        .appName {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .toolbarContainer {
      display: flex;
      width: 100%;
      margin: 0;
      align-items: center;
      &.stickToLeft {
        justify-content: flex-end;
      }
    }

    .LigaBet-UserMenu {
      padding: 0;
      border-radius: 50%;
      .avatar {
        background: $primary-dark;
      }
    }
  
    .LigaBet-DropMenuItem {
      .labelWrapper {
        width: 100%;
      }
    }
  }

}

.LigaBet-Menu {
  &.MuiMenu-list {
    padding: 0;
    background: $primary-light-main-gradient;
  }
}

.LigaBet-LinkMenuItem {
  &.MuiMenuItem-root {
    min-height: 0;
    padding: 15px 25px;
    width: 100%;
    color: white;
    font-size: 16px;
    justify-content: flex-start;
  }
}