@import '../styles/colors';
@import '../styles/mixins';
@import '../styles/shadows';
@import '../styles/themes/tournaments';


@mixin tournament_link($tournament_theme){
  background: map_get($tournament_theme, main);
  &:hover {
    background: map_get($tournament_theme, gradient);
  }
}


.LigaBet-PopupMenu-root {
  .LigaBet-PopupMenu-list {
    .LB-ActivePathItem {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.LigaBet-AppHeader {
  position: fixed;
  top: 0;
  z-index: 20;
  .appbarHeader {
    $minMenuHeight: 50px;
    .LB-ActivePathItem {
      background-color: rgba(0, 0, 0, 0.08);
    }
    
    .LigaBet-AppMenuDesktop {
      min-height: $minMenuHeight;
      justify-content: space-between;
      display: flex;
      .LigaBet-LinkMenuItem {
        padding: 12px 16px;
      }
    }
    .LigaBet-AppMenuMobile {
      .MuiToolbar-root {
        padding: 0px 12px;
        min-height: unset;
      }
      .AppMenuMobile-leftSide {
        @include flexRow;
      }
      .expandSection {
        min-height: $minMenuHeight;
        display: flex;
        overflow: hidden;
        padding: 0 3%;
        transition: max-height 500ms ease;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;
        .LigaBet-LinkMenuItem {
          width: 100%;
        }
        .LigaBet-DropMenuItem {
          .LigaBet-PopupMenu {
            width: 100%;
          }
        }
      }
      .mobileMenuHeader {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: unset;
        .appName {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .toolbarContainer {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      align-items: center;
      &.stickToLeft {
        justify-content: flex-end;
      }
    }

    .LigaBet-UserMenu {
      padding: 5px 10px;
      cursor: pointer;
      .LB-UserIcon {
          position: relative;
          display: block;
          &.UserIcon-withShadow {
            border-radius: 100%;
            overflow: hidden;
            box-shadow: $medium-shadow;
          }
          .personIcon {
            position: absolute;
            bottom: -6px;
            left: 60%;
            transform: translateX(-50%);
            color: rgba(160, 160, 160, 0.9);
            font-size: 36px;
          }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
      .avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        .MuiSvgIcon-root {
          color: #fff;
          font-size: 32px;
        }
      }
    }
  
    .LigaBet-DropMenuItem {
      padding: 0;
      .clickableWrapper {
        padding: 12px 16px;
        width: 100%;
        .flexRow {
          @include flexRow;
        }
      }
    }
  }
}



@import './TournamentDropdownMenu.scss';
@import './LinkMenuItem.scss';



@mixin themable_app_header($class, $tournament_theme){
  $theme_light: map_get($tournament_theme, light);
  $theme_main: map_get($tournament_theme, main);
  $theme_dark: map_get($tournament_theme, dark);
  $gradient: map_get($tournament_theme, gradient);

  .LigaBet-AppHeader {
    &.#{$class} {
      .appbarHeader {
        background: $gradient;
        .LigaBet-UserMenu {
          .avatar {
            background: $theme_dark;
          }
        }
      }
    }
  }
  
  .LigaBet-PopupMenu-root {
    .LigaBet-PopupMenu-list {
      &.#{$class} {
        background: $gradient;
      }
    }
  }
}

@include themable_app_header(tournament-theme, $tournament_1);
@include themable_app_header(tournament-theme-1, $tournament_1);
@include themable_app_header(tournament-theme-2, $tournament_2);
@include themable_app_header(tournament-theme-3, $tournament_3);
@include themable_app_header(tournament-theme-4, $tournament_4);
@include themable_app_header(tournament-theme-5, $tournament_5);