@use '../styles/mixins';

.LB-ManageContestantsView {
    .LB-ContestantRow {
        .actionsCell {
            .MuiButton-root {
                margin: 8px;
            }
        }
    }
    .LB-AutoConfirmSelection {
        margin: 0;
        @include mixins.flexRow;
        .loaderContainer {
            margin-top: -3px;
        }
    }
}