@import '../themes/tournaments';


@mixin themable_header($class, $tournament_theme){
    $gradient: map_get($tournament_theme, gradient);
  
    &.#{$class} {
        .EditableBetView-header{
            background: $gradient;
            .name {
                color: #fff;
            }
        }
        &.sendingforAllTournaments {
            .EditableBetView-header{
                background: simple_gradient(#d68eff, $purple-main);
            }
        }
    }
}

.LB-EditableBetView {
    @include themable_header(tournament-theme, $tournament_1);
    @include themable_header(tournament-theme-1, $tournament_1);
    @include themable_header(tournament-theme-2, $tournament_2);
    @include themable_header(tournament-theme-3, $tournament_3);
    @include themable_header(tournament-theme-4, $tournament_4);
    @include themable_header(tournament-theme-5, $tournament_5);
    .EditableBetView-header {
        padding: 8px 12px;
        position: relative;
    }
}