.LigaBet-RejectedView {
    .LB-FloatingFrame {
        margin-top: 24px;
        .RejectedView-msg {
            margin-top: 24px;
        }
        .RejectedView-leaveButtonContainer {
            margin-top: 24px;
            margin-bottom: 16px;
        }
    }
}
