.LB-SpecialRoleBadge {
    font-size: 11px;
    line-height: 1;
    position: absolute;
    inset-block-end: -5px;
    inset-inline-end: -6px;
    background: rgba(255, 243, 207, 0.8666666667);
    border-radius: 100%;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 16px;
    width: 16px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
