
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-collapse {
  .navbar-nav {
    .nav-link {
      text-align: right;
    }
  }
}

.card {
  direction: rtl;
  .card-header {
    text-align: right;
  }
  .card-body {
    .alert {
      text-align: right;
    }
    .buttons-container {
      margin: auto;
    }
    @media(max-width: 767px) {
    .form-group {
      .col-form-label, .checkbox {
          text-align: right;
        }
      }
    }
    input {
      font-size: 16px;
      &[type="email"], &[type="password"] {
        direction: ltr;
      }
    }
  }
}
