.float-right{
  float: right !important;
}
.hidden{
  display: none !important;
}
.dir-ltr{
  direction: ltr !important;
}
.all-ltr{
  direction: ltr !important;
  text-align: left !important;
}
.ws-nowrap{
  white-space: nowrap;
}
.flex-row{
  display: flex;
  flex-direction: row;
  &.center-items {
    align-items: center;
  }
}
.v-align-center{
  vertical-align: middle !important;
}

.row{
  &.full-row{
    margin-right: 0px;
    width: 100%;
  }
}
.col-no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.around-huge-flag{
  .team_flag{
    height: 22px;
  }
}

.team_flag{
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 15px;
  &.no-border{
    border:0px; 
  }
  &.larger{
    height: 20px;
    width: 30px;
  }
}
.team-and-flag{
  display: flex;
  .flag-wrapper{
    margin-left: 3px;
  }
}
