@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/shadows';

.LB-ProgressDiagram {
    position: relative;
    height: 95%;
    width: 90%;
    max-width: 900px;
    margin: auto;
    .MuiPaper-root {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color:#fffaf2;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 5%;
        position: relative;
        $topTransition: top 0.4s ease-in-out;
        .closeButton {
            position: absolute;
            right: 8px;
            top: 8px;
            z-index: 1000;
        }
        .ProgressDiagram-content {
            position: relative;
            display: flex;
            height: 100%;
            flex-direction: column;
            overflow: hidden;
        }
        .LB-DigramDataSection {
            $data_section_padding_top: 16px;
            $progress_row_height: 30px;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            opacity: 0;
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: $data_section_padding_top;
            .DigramDataSection-markRow {
                position: absolute;
                height: $progress_row_height;
                left: 0;
                width: 100%;
                background: rgb(0 0 255 / 6%);
                border-radius: 12px;
                transform: translateY($data_section_padding_top);
                transition: $topTransition;
            }
            .usersSection {
                position: relative;
                max-width: 35%;
                .LB-ProgressRowUserDetails {
                    @include flexRow;
                    transition: $topTransition;
                    margin-bottom: 8px;
                    position: absolute;
                    height: $progress_row_height;
                    white-space: nowrap;
                    .ProgressRowUserDetails-userName {
                        flex: 1 auto;
                        $margin: 8px;
                        font-weight: 700;
                        margin-right: $margin;
                    }
                }
            }
            .LB-ProgressDiagramScoresSection {
                padding-right: 36px;
                padding-left: 8px;
                flex: 1 auto;
                height: 100%;
                position: relative;
                .ProgressDiagramScoresSection-content {
                    position: relative;
                    height: 100%;
                }
                .LB-ScoresBar {
                    transition: $topTransition;
                    width: 100%;
                    position: absolute;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    height: $progress_row_height;
                    margin-bottom: 8px;
                    .ScoresBar-bar {
                        height: 20px;
                        min-width: 20px;
                        padding: 0px 4px;
                        border-radius: 8px;
                        transition: width 1s linear;
                        display: flex;
                        align-items: center;
                        .ScoresBar-addedScore {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                            white-space: nowrap;
                            max-width: 100%;
                        }
                        .ScoresBar-scores {
                            position: absolute;
                            transform: translateX(calc(10px + 100%));
                            line-height: 16px;
                            font-size: 16px;
                            font-weight: 700,
                        }
                    }
                }
            }
            .yaxes{
                position: sticky;
                top: 0px;
            }
            .LB-YAxes {
                $color: #562b0866;
                position: absolute;
                height: 100%;
                width: 0px;
                border-left: 1px dashed $color;
                transition:  left 0.7s linear;
                > span {
                    color: $color;
                    transform: translateX(50%) translateY(-100%);
                    position: absolute;
                }
            }
        }
        .LB-DiagramVersionsDisplay {
            width: 100%;
            height: 100px;
            position: relative;
            padding: 12px 0px;
            margin-bottom: 8px;
            margin-left: 0;
            transform: translateX(0);
            transition: transform 1s linear;
            &.emptyVersions {
                transform: translateX(50%);
            }
            .spaceKeeper {
                height: 74px;
                position: relative;
                z-index: -1;
            }
            .DiagramVersionsDisplay-versionWrapper {
                position: absolute;
                width: 300px;
                padding: 0px 45px;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: 700;
                transition: transform 0.7s ease-out, left 0.7s linear;
                transform: translateX(-50%);
                &.currentVersion {
                    transform: translateX(-50%) scale(1.2);
                }
                .DiagramVersionsDisplay-version{
                    cursor: pointer;
                    .LB-LeaderboardVersionDisplay {
                        .VersionDisplay-teamWrapper {
                            .VersionDisplay-team {
                                max-width: 100%;
                                .VersionDisplay-teamName {
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    max-width: 100%;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
        .LB-DiagramMediaPlayer {
            display: flex;
            justify-content: center;
            .mediaPlayer {
                .icon {
                    &:not(.Mui-disabled){
                        color: #000;
                    }
                }
            }
        }
    }
}