@import '../../styles/mixins.scss';
@import '../../styles/shadows';

.LigaBet-ScoreConfig {
    .ScoreConfig-SectionTitle {
        @include flexRow;
        .LigaBet-InfoIconWithTooltip {
            margin-right: 8px;
        }
    }
    .LigaBet-ScoreInput {
        width: 80px;
    }
    .configRow {
        display: flex;
        align-items: center;
        margin: 16px 0px;
        .configLabel {
            font-weight: 700;
            margin-left: 16px;
        }
    }
    .LigaBet-MatchRankBetCofig {
        margin-top: 20px;
    }
    .LigaBet-SpecialBetsConfig {
        margin-top: 20px;
        .configContainer {
            border-radius: 16px;
            box-shadow: $basic-shadow;
            margin-top: 20px;
            padding: 16px;
            overflow: hidden;
        }
        .ScoresConfig-SpecialQuestionHeader {
            @include flexRow;
            h5 {
                font-size: 16px;
            }
            .LigaBet-InfoIconWithTooltip {
                margin-right: 8px;
            }
        }
    }
    .savePrizes {
        @include centerContainer;
        margin-top: 30px;
    }
}