@import '../styles/mixins.scss';
@import '../styles/shadows';

.LB-TournamentConfigPage {
    .LB-UseDefaultConfigQuestion {
        max-width: 100%;
        width: 450px;
        margin: auto;
        .continueBtnBontainer {
            @include centerContainer;
            margin-top: 12px;
        }
        .radioSelection {
            margin-top: 24px;
        }
    }
    @import 'takanonPreview/takanonPreview';
}

@import 'takanonPreview/takanonPreviewDialog';