.LigaBet-InfoIconWithTooltip {
    cursor: pointer;
}
body {
    .LigaBet-InfoIconWithTooltip-Tooltip {
        background-color: #fff;
        border-radius: 16px;
        box-shadow: rgb(67 71 85 / 59%) 0px 0px 0.25em, rgb(90 125 188 / 25%) 0px 0.25em 1em;
        color: #333;
        .MuiTooltip-arrow {
            &::before {
                background: white;
                box-shadow: rgb(67 71 85 / 59%) 0px 0px 0.25em, rgb(90 125 188 / 25%) 0px 0.25em 1em;
            }
        }
    }
}