.LB-DaShubi {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .DaShubi-img {
        height: 0px;
        transition: height 0.3s, transform 0.8s;
        transform-style: preserve-3d; ;
    }
    &.DaShubi-shown {
        .DaShubi-img {
            height: 200px;
            transform: rotateX(360deg);
        }
    }
}