@import '../styles/mixins';
@import '../styles/shadows';
@import '../styles/themes/tournaments';

@mixin themable_header($class, $tournament_theme){
    $gradient: map_get($tournament_theme, gradient);
  
    &.#{$class} {
        background: $gradient;
        .name {
            color: #fff;
        }
    }
}


.LB-OpenMatchesView {
    max-width: 100%;
    width: 900px;
    margin: auto;
    .LigaBet-TakanonPreviewModal {
        margin: 0 6px 0 0;
        display: inline-block;
        .openTakanonDemoLink {
            font-size: 14px;
        }
    }
    .gamesContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .LB-OpenMatchBet {
        border-radius: 12px;
        width: 400px;
        overflow: hidden;
        max-width: 100%;
        box-shadow: $medium-shadow;
        background-color: #fff;
        margin: 24px;
        @media(max-width: 600px){
            margin: 12px auto;
        }
        .headerRow {
            @include themable_header(tournament-theme, $tournament_1);
            @include themable_header(tournament-theme-1, $tournament_1);
            @include themable_header(tournament-theme-2, $tournament_2);
            @include themable_header(tournament-theme-3, $tournament_3);
            @include themable_header(tournament-theme-4, $tournament_4);
            @include themable_header(tournament-theme-5, $tournament_5);
            padding: 8px 12px;
            position: relative;
            .timeLabel {
                margin: 0px;
                color: #fff;
                font-size: 16px;
                text-align: center;
            }
            .dateLabel {
                right: 16px;
                position: absolute;
                color: #fff;
                font-size: 16px;
            }
        }
        .OpenMatchBet-body {
            height: 98px;
            padding: 12px;
            display: flex;
            position: relative;
            .scoreForm {
                flex: 1 auto;
                margin: 0px 60px;
                .inputsRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .scoreDisplayContainer {
                        @include centerContainer;
                        width: 36px;
                        height: 36px;
                        .scoreDisplay {
                            @include centerContainer;
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                            background: $primary-main;
                            cursor: pointer;
                            .scoreText {
                                color: #fff;
                                font-size: 20px;
                            }   
                        }
                    }
                    input {
                        width: 36px;
                        height: 36px;
                        padding: 6px;
                        font-size: 16px;
                    }
                }
                .buttonContainer {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin-top: 8px;
                    .sendButton {
                        padding: 2px 12px;
                        min-width: 32px;
                    }
                    .buttonsWrapper {
                        position: relative;
                    }
                    .closeIcon {
                        position: absolute;
                        padding: 0px;
                        right: calc(100% + 20px);
                        top: 4px;
                    }
                }
            }
            .verticalTeam {
                @include centerContainer;
                flex-direction: column;
                display: inline-flex;
                position: absolute;
                &.sideLeft {
                    left: 12px;
                }
                &.sideRight {
                    right: 12px;
                }
            }
            .verticalTeamName {
                margin-right: 0px;
                margin-top: 6px;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}
