@import '../styles/mixins';
@import '../styles/shadows';
@import '../styles/colors';


.LB-OpenMatchesView {
    max-width: 100%;
    width: 900px;
    margin: auto;
    .LigaBet-TakanonPreviewModal {
        margin: 0 6px 0 0;
        display: inline-block;
        .openTakanonDemoLink {
            font-size: 14px;
        }
    }
    .gamesContainer {
        .gameDay {
            padding: 32px 0px;
            .MuiBadge-badge {
                z-index: 0;
                margin-left: -3px;
            }
            .dayTitle {
                margin: 0px;
                z-index: 1;
            }
            .gamesSection {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .LB-MultiBetsSettings {
        .LB-StickyConfig {
            .StickyConfig-content {
                width: 402px;
            }
        }
    }
    .LB-OpenMatchBet {
        @include floatingFrame;
        border-radius: 12px;
        width: 400px;
        overflow: hidden;
        max-width: 100%;
        box-shadow: $medium-shadow;
        margin: 24px;
        @media(max-width: 600px){
            margin: 12px auto;
        }
        &.OpenMatchBet-knockout {
            .OpenMatchBet-body {
                margin-bottom: 30px;
            }
            &:not(.OpenMatchBet-edit){
                .OpenMatchBet-body {
                    .scoreForm {
                        .buttonContainer {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
        .EditableBetView-header {
            .timeLabel {
                margin: 0px;
                color: #fff;
                font-size: 16px;
                text-align: center;
            }
            .dateLabel {
                right: 16px;
                position: absolute;
                color: #fff;
                font-size: 16px;
            }
        }
        .OpenMatchBet-body {
            height: 98px;
            padding: 12px;
            display: flex;
            position: relative;
            .scoreForm {
                flex: 1 auto;
                margin: 0px 60px;
                .inputsRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .scoreDisplayContainer {
                        @include centerContainer;
                        width: 36px;
                        height: 36px;
                        .scoreDisplay {
                            @include centerContainer;
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                            background: $primary-main;
                            cursor: pointer;
                            .scoreText {
                                color: #fff;
                                font-size: 20px;
                            }   
                        }
                    }
                    input {
                        width: 36px;
                        height: 36px;
                        padding: 6px;
                        font-size: 16px;
                    }
                }
                .buttonContainer {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin-top: 8px;
                    .sendButton {
                        padding: 2px 12px;
                        min-width: 32px;
                    }
                    .buttonsWrapper {
                        position: relative;
                    }
                    .closeIcon {
                        position: absolute;
                        padding: 0px;
                        right: calc(100% + 20px);
                        top: 4px;
                    }
                }
            }
            .verticalTeam {
                @include centerContainer;
                flex-direction: column;
                display: inline-flex;
                position: absolute;
                &.sideLeft {
                    left: 12px;
                }
                &.sideRight {
                    right: 12px;
                }
            }
            .verticalTeamName {
                margin-right: 0px;
                margin-top: 6px;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}