@use '../styles/mixins';
@use '../styles/shadows';
@use '../styles/colors';


.LB-OpenMatchesView {
    max-width: 100%;
    width: 900px;
    margin: auto;
    .LigaBet-TakanonPreviewModal {
        margin: 0 6px 0 0;
        display: inline-block;
        .openTakanonDemoLink {
            font-size: 14px;
        }
    }
    .gamesContainer {
        .gameDay {
            padding: 32px 0px;
            .MuiBadge-badge {
                z-index: 0;
                margin-inline-end: -3px;
            }
            .dayTitle {
                margin: 0px;
                z-index: 1;
            }
            .gamesSection {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .LB-MultiBetsSettings {
        .LB-StickyConfig {
            .StickyConfig-content {
                width: 402px;
            }
        }
    }
}
