@import '../styles/mixins';
@import '../styles/shadows';
@import '../styles/themes/tournaments';


@mixin themable_header($class, $tournament_theme){
    $gradient: map_get($tournament_theme, gradient);
  
    &.#{$class} {
        background: $gradient;
        .name {
            color: #fff;
        }
    }
}

.LigaBet-QuestionBetsView {
    max-width: 100%;
    width: 900px;
    margin: auto;
    .LigaBet-TakanonPreviewModal {
        margin: 0 6px 0 0;
        display: inline-block;
        .openTakanonDemoLink {
            font-size: 14px;
        }
    }
    .LigaBet-OpenQuestionBetView {
        border-radius: 12px;
        width: 330px;
        overflow: hidden;
        max-width: 100%;
        box-shadow: $medium-shadow;
        background-color: #fff;
        
        margin: 12px;
        @media(max-width: 600px){
            margin: 12px auto;
        }
        .OpenQuestionBetView-header {
            @include themable_header(tournament-theme, $tournament_1);
            @include themable_header(tournament-theme-1, $tournament_1);
            @include themable_header(tournament-theme-2, $tournament_2);
            @include themable_header(tournament-theme-3, $tournament_3);
            @include themable_header(tournament-theme-4, $tournament_4);
            @include themable_header(tournament-theme-5, $tournament_5);
            padding: 8px 12px;
            .name {
                margin: 0px;
                text-align: center;
            }
        }
        .existing_bet {
            display: flex;
            padding: 12px 24px;
            justify-content: space-between;
            align-items: center;
        }
        .no_bet {
            @include flexRow;
            justify-content: center;
            padding: 8px;
            .MuiSvgIcon-root {
                cursor: pointer;
                &:hover {
                    filter: brightness(115%);
                }
            }
        }
        .QuestionBetEditView {
            padding: 24px;
            padding-top: 16px;
            .buttonContainer {
                position: relative;
                margin-top: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                .iconGoBack {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                }
            }
        }
    }
}

.TeamInput-paper {
    margin-top: 8px;
    .TeamInput-list {
        max-height: 400px;
    }
}

.PlayerInput-paper {
    margin-top: 8px;
    .PlayerInput-list {
        max-height: 400px;
    }
}