.LigaBet-QuestionBetsView {
    .LigaBet-OpenQuestionBetView {
        border-radius: 12px;
        border: 2px solid #dddd;
        margin: 12px;
        width: 330px;
        overflow: hidden;
        max-width: 100%;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        .header {
            background: linear-gradient(0deg, #83EAF1 0%, #63A4FF 100%);
            padding: 8px 12px;
            .name {
                margin: 0px;
                text-align: center;
            }
        }
        .existing_bet {
            display: flex;
            padding: 12px 24px;
            border-bottom: 1px solid #e6e6e6;
        }
        .content {
            padding: 24px;
            padding-top: 16px;
            .buttonContainer {
                margin-top: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

