@use '../styles/common/rankBgColor.scss';
@import '../styles/themes/tournaments';
@import '../styles/themes/prizes';
@import '../styles/mixins';
@import '../styles/shadows';
@import '../styles/colors';



@mixin themable_table_header($class, $tournament_theme){
    $gradient: map_get($tournament_theme, gradient);
  
    &.#{$class} {
        .tableTitleContainer {
            background: $gradient;
            .tableTitle {
                color: #fff;
            }
        }
    }
}

@mixin themable_prize_row($class, $color){
    &.#{$class} {
        background-color: rgba($color, 0.95);
        .MuiTableCell-root {
            color: white;
        }
    }
}



.LB-LeaderboardView {
    max-width: 100%;
    width: 600px;
    margin: auto;
    @include themable_table_header(tournament-theme, $tournament_1);
    @include themable_table_header(tournament-theme-1, $tournament_1);
    @include themable_table_header(tournament-theme-2, $tournament_2);
    @include themable_table_header(tournament-theme-3, $tournament_3);
    @include themable_table_header(tournament-theme-4, $tournament_4);
    @include themable_table_header(tournament-theme-5, $tournament_5);
    .LeaderboardView-content {
        margin-top: 40px;
        .tableTitleContainer {
            border-radius: 12px 12px 0px 0px;
            .tableTitle {
                text-align: center;
                margin: 0 auto;
                padding: 8px 16px;
            }
        }
        .MuiTableContainer-root {
            background-color: rgba(255,255,255, 0.95);
        }
        .LigaBet-CustomTable {
            border-radius: 0 0 12px 12px;
            .MuiTable-root  {
                border-collapse: separate;
            }
            .tableHeaderCell {
                padding: 8px 16px;
                font-size: 16px;
                font-weight: 700;
            }
            .LigaBet-CustomTableRow {
                @include themable_prize_row(prize-theme-1, $prize_1);
                @include themable_prize_row(prize-theme-2, $prize_2);
                @include themable_prize_row(prize-theme-3, $prize_3);
                @include themable_prize_row(prize-theme-4, $prize_4);
                @include themable_prize_row(prize-theme-5, $prize_5);
                @include themable_prize_row(prize-theme-6, $prize_6);
                cursor: pointer;
                &.currentUtl {
                    .MuiTableCell-root {
                        $border: 2px solid #000;
                        border-top: $border;
                        border-bottom: $border;
                        &:first-of-type {
                            border-right: $border;
                        }
                        &:last-of-type {
                            border-left: $border;
                        }

                    }
                }
                &:first-of-type {
                    .scoreCell-container {
                        .scoreCell-added {
                            box-shadow: rgb(60 64 67 / 50%) 0px 1px 6px 1px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
                        }
                    }
                }
            }
            .MuiTableCell-root {
                font-size: 16px;
                border-bottom-color: rgba(0,0,0,0.1);
                &.rankChangeCell {
                    width: 0px;
                    padding-left: 0px;
                    padding-right: 8px;
                }
                &.rankCell {
                    width: 0px;
                    padding-right: 8px;
                }
                &.scoreCell {
                    width: 0px;
                }
            }
        }

        .scoreCell-container {
            display: flex;
            align-items: center;
            .scoreCell-total {
                font-size: 18px;
            }
            .scoreCell-added {
                padding: 3px 4px;
                background-color: green;
                margin-right: 8px;
                color: #fff;
                border-radius: 4px;
                line-height: 1;
                font-size: 12px;
                margin-top: -1px;
                box-shadow: $medium-shadow;
            }
        }
        .rankChange {
            @include flexRow;
            box-shadow: $basic-shadow;
            border-radius: 50%;    display: flex;
            padding-right: 6px;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 20px;
            margin-top: -3px;
            background-color: #eee;
            .rankChange-value {
                font-size: 14px;
                line-height: 1;
                color: #000;
            }
            .rankChange-direction {
                color: $success-main;
                transform: rotate(180deg);
            }
            &.isNegative {
                .rankChange-direction {
                    color: $error-main;
                    transform: rotate(0deg);
                }
            }
            
        }
    }
    .LB-LeaderboardHistoryForm {
        padding: 8px 4px 0px 4px;
        .LeaderboardHistoryForm-title {
            font-size: 22px;
            text-align: center;
        }
        .LeaderboardHistoryForm-inputsWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .LB-LeaderboardVersionInput {
                margin: 12px;
            }
        }
    }
}


.LB-ExpanededContestantView {
    .LB-SpecialBetsTable, .LB-GameBetsTable, .LB-GroupRankBetsTable {
        .MuiTableContainer-root {
            background-color: rgb(255 255 255 / 95%);
            border-radius: 12px;
            @media (max-width: 600px) {
                .MuiTableCell-root {
                    padding: 8px
                }
            }
            .MuiTableCell-root {
                &.alignToTop {
                    vertical-align: top;
                }
                &.scoreCell {
                    font-size: 20px;
                }
            }
        }
    }
    @media (max-width: 500px) {
        .MuiTableContainer-root {
            width: calc(100% + 16px);
            margin-right: -8px;
        }
    }
    .hisBetsLink {
        margin-bottom: 12px;
        @include centerContainer;
        .MuiLink-root {
            cursor: pointer;
        }
    }
}