@use '../styles/mixins';
@use '../styles/colors';

.LB-TableSettings {
    &.LB-StickyConfig {
        .StickyConfig-content {
            width: 100%;
            max-width: 450px;
        }
    }

    .TableSettings-header {
        @include mixins.flexRow;
        justify-content: space-between;
        cursor: pointer;
        .TableSettings-title {
            font-size: 18px;
        }
        .TableSettings-expandArrow{
            transition: transform 0.3s;
            &.TableSettings-expanded{
                transform: rotate(180deg);
            }
        }
    }
    .TableSettings-configRow{
        padding: 8px 6px;
        border-top: 1px solid #00000033;
        .TableSettings-label {
            font-size: 16px;    
            &.TableSettings-bolded {
                font-weight: 700;
            }
        }
    }
    .TableSettings-flexRow{
        @include mixins.flexRow;
        &.TableSettings-destVersionRow{
            padding-inline-start: 8px;
            .MuiSwitch-root {
                margin: 0px 4px;
            }
        }
    }
}