@use '../../styles/shadows';
@use '../../styles/mixins';
@use '../../styles/themes/tournaments';
@use "sass:map";


@mixin themeable_tournament_input($class, $tournament_theme){
    $gradient: map.get($tournament_theme, gradient);
    &.#{$class} {
        background: $gradient;
        .TournamentDisplay-name, .TournamentDisplay-utlName {
            color: #fff;
        }
        .tournamentIcon, .personIcon {
            color: #fff;
        }
    }
}

.LB-TournamentDisplay {
    border-radius: 12px;
    box-shadow: shadows.$basic-shadow;
    overflow: hidden;
    width: 240px;
    padding: 4px 12px;
    @include themeable_tournament_input(tournament-theme, tournaments.$tournament_1);
    @include themeable_tournament_input(tournament-theme-1, tournaments.$tournament_1);
    @include themeable_tournament_input(tournament-theme-2, tournaments.$tournament_2);
    @include themeable_tournament_input(tournament-theme-3, tournaments.$tournament_3);
    @include themeable_tournament_input(tournament-theme-4, tournaments.$tournament_4);
    @include themeable_tournament_input(tournament-theme-5, tournaments.$tournament_5);
    .TournamentDisplay-header {
        @include mixins.flexRow;
        margin: 8px 0px;
        .TournamentDisplay-name {
            font-size: 16px;
            line-height: 1.5;
            margin-right: 8px
        }
    }
    .TournamentDisplay-content {
        @include mixins.flexRow;
        margin: 8px 0px;
        .TournamentDisplay-utlName {
            margin-right: 8px;
        }
    }
}