/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.admin {
    display: none !important;
}

*, th {
    text-align: right;
    direction: rtl;
}

@media (min-width: 768px){
    ul.navbar-nav > li {
        float: right;
    }
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.rank-1 { background-color: #1c7430!important; color: #ffffff!important; }
.rank-2 { background-color: #1f3e1a!important; color: #ffffff!important; }
.rank-3 { background-color: #495057!important; color: #ffffff!important; }
.rank-4 { background-color: #645b62!important; color: #ffffff!important; }