.LB-InviteFriends {
    .contentSection {
        margin-top: 20px;
        .copyLink {
            cursor: pointer;
            display: inline;
        }
        .linkText {
            display: inline;
        }
        .linkRow {
            font-size: 16px;
        }
        .codeRow {
            margin-top: 18px;
            font-size: 14px;
        }
    }
}