@import '../../styles/shadows';
@import '../../styles/colors';

.LB-KoWinnerInput {
    position: relative;
    margin-top: 6px;
    padding-bottom: 2px;
    .KoWinnerInput-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .KoWinnerInput-side {
            width: 36px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            .KoWinnerInput-button {
                width: 26px;
                height: 26px;
                line-height: 26px;
                border-radius: 50%;
                box-shadow: $basic-shadow;
                text-align: center;
                background: rgb(204 229 253 / 84%);
                font-size: 15px;
                transition: background-color 0.3s, height 0.1s, width 0.1s;
                cursor: pointer;
            }
            &.KoWinnerInput-selected {
                .KoWinnerInput-button {
                    background-color: $primary-main;
                    border: 1px solid rgb(0 0 0 / 70%);
                    cursor: default;
                }
            }
            &:not(.KoWinnerInput-selected) {
                .KoWinnerInput-button {
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    &:hover {
                        filter: brightness(90%);
                    }
                }
            }
        }
        .KoWinnerInput-home {
            .KoWinnerInput-button {
                transform: translateX(-40%);
            }
        }
        .KoWinnerInput-away {
            .KoWinnerInput-button {
                transform: translateX(40%);
            }
        }
        .KoWinnerInput-delimiter {
            font-size: 12px;
        }
    }
    &.KoWinnerInput-displayOnly {
        .KoWinnerInput-content {
            .KoWinnerInput-delimiter{
                opacity: 0;
            }
            .KoWinnerInput-side:not(.KoWinnerInput-selected) {
                opacity: 0;
                * {
                    cursor: default;
                }
            }
        }
    }
    &.KoWinnerInput-twoLegKo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        margin-top: 0px;
        .KoWinnerInput-content {
            position: relative;
            padding: 4px 12px;
            background: #c393ff8a;
            justify-content: space-between;
            .KoWinnerInput-delimiter {
                font-size: 16px;
                color: black;
                font-weight: 700;
            }
            .KoWinnerInput-side {
                width: 80px;
                .KoWinnerInput-button {
                    width: 100%;
                    height: 28px;
                    line-height: 26px;
                    border-radius: 12px;
                    font-size: 16px;
                    transition: background-color 0.3s, border 0.1s, font-size 0.1s, height 0.1s, width 0.1s;
                    transform: none;
                }
                &.KoWinnerInput-selected {
                    .KoWinnerInput-button {
                        border: 1px solid rgb(0 0 0 / 40%);
                        font-size: 20px;
                    }
                }
                &:not(.KoWinnerInput-selected) {
                    .KoWinnerInput-button {
                        height: 22px;
                        width: 70px;
                        line-height: 20px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    &.KoWinnerInput-disabled {
        .KoWinnerInput-content {
            .KoWinnerInput-side {
                .KoWinnerInput-button {
                    pointer-events: none;
                    cursor: default;
                }
                &:not(.KoWinnerInput-selected) {
                    opacity: 0;
                }
            }
        }
    }
}