.LigaBet-AppBody {
    align-items: stretch;
    padding-top: 50px;
    display: flex;
    justify-content: center;

    .app-main-container {
        max-width: 1500px;
    }

    .sidenav {
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        background-color: #f1f1f1;
    }
}
