.LigaBet-AppBody {
    padding-top: 50px;
    .sidenav {
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        background-color: #f1f1f1;
    }
}
