@import '../styles/mixins';
@import '../styles/shadows';
@import '../styles/themes/tournaments';


.LB-OpenGroupRankBetsView {
    max-width: 100%;
    width: 1100px;
    margin: auto;
    .LigaBet-TakanonPreviewModal {
        margin: 0 6px 0 0;
        display: inline-block;
        .openTakanonDemoLink {
            font-size: 14px;
        }
    }
    .LB-GroupRankBetView {
        border-radius: 12px;
        width: 330px;
        overflow: hidden;
        max-width: 100%;
        box-shadow: $medium-shadow;
        background-color: #fff;
        
        margin: 12px;
        @media(max-width: 600px){
            margin: 12px auto;
        }
        .EditableBetView-header {
            .name {
                margin: 0px;
                text-align: center;
            }
        }
        .GroupRankBetView-content {
            padding: 24px;
            padding-top: 16px;
            &.onEdit{
                .rankDisplay {
                    margin-left: 6px;
                    .rank {
                        background-color: #fbfbfbfb;
                        box-shadow: $medium-shadow;
                    }
                }
                .LB-TeamStanding {
                    background-color: #fbfbfbfb;
                    box-shadow: $medium-shadow;
                }
            }
            &:not(.onEdit){
                .rankDisplay {
                    .rank {
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }
                .LB-TeamStanding {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    padding-right: 14px;
                }
            }
            .DraggableStandings {
                display: flex;
                * {
                    -webkit-user-select: none;
                    user-select: none;
                }
            }
            .rankDisplay {
                margin: 6px 0px;
                .rank {
                    font-size: 24px;
                    line-height: 2;
                    background-color: #e5e5e55e;
                    width: 30px;
                    border-radius: 8px;
                    text-align: center;
                }
            }
            .LB-TeamStanding {
                @include flexRow;
                justify-content: space-between;
                padding: 8px;
                width: 100%;
                border-radius: 8px;
                background-color: #e5e5e55e;
                .dragIcon {
                    margin-left: 12px;
                    cursor: grab;
                    color: #555;
                }
            }
            .buttonContainer {
                position: relative;
                @include centerContainer;
                margin-top: 16px;
                .MuiButton-root {
                    line-height: 2;
                }
                .iconGoBack {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                }
            }
            .noBet {
                @include centerContainer;
            }
        }
    }
}