@import '../../styles/_mixins.scss';

.LigaBet-PrizesConfig {
    .LigaBet-PrizeInput{
        display: flex;
        align-items: center;
        margin-top: 24px;
        .removeIcon {
            margin-left: 2px;
            .Mui-disabled {
                opacity: 0.7;
            }
        }
        .addIcon {
            margin-right: 2px;
            width: 40px;
        }
    }
    .savePrizes {
        @include centerContainer;
        margin-top: 30px;
    }
}